.badges a:hover, .widget .tagcloud a:hover, span.respond-link a:hover, a.more-link:hover, .button:hover, .struck a.tw-button.shortcode:hover, .struck .tw-postshortcode a.more-link, a.button:hover, a.more-link:hover, #submit:hover, input[type="submit"]:hover, .button:active, .tw-button:active, a.tw-button:active, a.button:active, a.more-link:active, #submit:active, .tw-postshortcode a.more-link:active, input[type="submit"]:active, *::selection, .struck .mejs-controls .mejs-time-rail .mejs-time-buffering, .struck .mejs-controls .mejs-time-rail .mejs-time-current, .struck .mejs-controls .mejs-volume-button .mejs-volume-slider, .struck .mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current, .struck .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current, .struck .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
                    background: #bb141a
                }

a.more-link, .regular-posts a.more-link, .tw-button, a.tw-button, .tw-postshortcode a.more-link, .widget .tagcloud a:hover, .widget .recent-project:hover, .badges a:hover, span.respond-link a:hover, .button, .tw-button, a.tw-button, a.button, a.more-link, #submit, .tw-postshortcode a.more-link, input[type="submit"] {
    border-color: #bb141a
}

a.more-link, span.highlight, .button, .tw-button, a.tw-button, a.button, a.more-link, #submit, .tw-postshortcode a.more-link, input[type="submit"], .single .authorinfo.not-full a:hover, .struck .tw-button, .struck a.tw-button, .struck .tw-postshortcode a.more-link {
    color: #bb141a
}

.badges a:hover, .widget .tagcloud a:hover, span.respond-link a:hover, a.more-link:hover, .button:hover, .tw-button:hover, a.tw-button:hover, a.button:hover, a.more-link:hover, #submit:hover, .tw-postshortcode a.more-link:hover, input[type="submit"]:hover, .button:active, .tw-button:active, a.tw-button:active, a.button:active, a.more-link:active, #submit:active, .tw-postshortcode a.more-link:active, input[type="submit"]:active {
    background: #bb141a
}

a {
    border-color: #bb141a
}

*::selection {
    background: #bb141a
}

.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important
}

.top-nav, .altnav .top-nav-inner {
    padding-top: 20px;
    padding-bottom: 20px
}

#logo h1, #logo h2, .section h2, .title-container h1, .minimal-content h2, #share-box h2 {
    font-family: Lato;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: .03em;
    font-weight: 900;
    font-style: normal;
    font-size: 2.5em
}

.intro h2 {
    font-family: Lato;
    line-height: 1.3em;
    font-weight: 300;
    font-style: normal;
    font-size: 1.75em
}

.section h2 .redSpan {
    font-family: Lato;
    text-transform: uppercase;
    line-height: 1.3em;
    letter-spacing: -.01em;
    font-weight: 700;
    font-style: normal;
    font-size: .7em
}

.sf-menu li > a {
    font-family: Lato;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: .2em;
    font-weight: 700;
    font-style: normal;
    font-size: .75em
}

#nb-popoutmenu a, .nb-back {
    font-family: Lato;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: .1em;
    font-weight: 700;
    font-style: normal;
    font-size: .85em
}

.tiny-details, .tiny-details p, .badges a, a.button, a.more-link, input[type="submit"], label, .sidepostcontainer .date, cite, .tw-postshortcode a.more-link, a.tw-button, thead th {
    font-family: Lato;
    text-transform: uppercase;
    line-height: 1.4em;
    letter-spacing: .15em;
    font-weight: 700;
    font-style: normal;
    font-size: .70em
}

h1 {
    font-family: Lato;
    text-transform: none;
    line-height: 1.4em;
    letter-spacing: 0em;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em
}

h2 {
    font-family: Lato;
    text-transform: none;
    line-height: 1.4em;
    font-weight: 400;
    font-style: normal;
    font-size: 2em
}

h3, blockquote, blockquote p, .grid h2 {
    font-family: Lato;
    text-transform: none;
    line-height: 1.4em;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em
}

h4 {
    font-family: Lato;
    text-transform: none;
    line-height: 1.4em;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em
}

h5, .subtitle > h1, .subtitle > h2 {
    font-family: Lato;
    text-transform: none;
    line-height: 1.4em;
    font-weight: 400;
    font-style: normal;
    font-size: 1.15em
}

h6 {
    font-family: Lato;
    text-transform: none;
    line-height: 1.4em;
    font-weight: 400;
    font-style: normal;
    font-size: 1em
}

.articleinner, .tw-post-break .tw-column, .content, p, ul, ol,li li a, input, textarea, .sidebar, dd, dt, table {
    font-family: Lato;
    line-height: 1.8em;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em
}

aside {
    font-family: Lato;
    line-height: 1.8em;
    font-weight: 400;
    font-style: italic;
    font-size: .8em
}
